// Colors (ALL)
$primary-color-bb: #323232;
$primary-color-wht: #fff;

$secondary-color: #000, #fafafa;
$secondary-color-mercury: #e1e1e1;

// MOBILE PADDING BOTTTOM
$mobile-bp: 16px;

// TABLET AND DESKTOP VARIABLES
$large-font: 60px;
$section-font: 36px;
$subheader-font: 24px;
$body-footer-font: 14px;
